/* import font */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
/* reset */

*{
margin: 0;
box-sizing: border-box;
padding: 0;
}

body{
background-color: #F2EAE2;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
font-family: 'Montserrat', sans-serif;

}
.main{
background-color: #ffffff;
border-radius: 20px;  
display: flex;
max-width: 600px;
overflow: hidden;
 }
.image{
width: 50%;
object-fit: cover;
border-radius: 5px;

}
.math{
width: 50%;
padding:32px ;
display: flex;
justify-content: center;
flex-direction: column;
}
.english{
text-emphasis: uppercase;
letter-spacing: 5px;
color: darkgray;
font-size: 12px;
margin-bottom: 20px;
}
h1{
font-family: 'Fraunces', serif;
font-size: 32px;
line-height: 1.1;
color: #1C232B;
margin-bottom: 24px;
}
.arabic{
color: #6C7289;
font-size: 14px;
line-height: 1.6;
margin-bottom: 30px;
}
.price{
display: flex;
align-items: center;
gap: 20px;
margin-bottom: 30px;
}
.french{
color:  rgb(62, 92, 62);
font-size: 30px;
font-family: 'Fraunces', serif;
}
.deutsch{
    color: rgb(117, 117, 117);
    text-decoration: line-through;
    font-size: 15px;
    font-family: 'Fraunces', serif;
}
.music{
    background-color: rgb(62, 92, 62);
    color: white;
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
    border: none;
    transition: 0.5s;
     margin: 1px;
}
.music:hover{
    background-color: rgb(48, 68, 48);
} 

